.App {
  text-align: center;
  Position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  
  background: rgba(252, 255, 129, 0.78);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Paprika");
@font-face{
  font-family: "Paprika";
  src: url("https://fonts.googleapis.com/css2?family=Paprika");
}

.App-header {
  /*Titulo de la página*/
  left: 32.65%;
  right: 32.55%;
  top: 0%;
  bottom: 94.02%;

  font-family: Paprika;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;

  color: #000000;

}
.App-slogan {
  font-family: Paprika;
  left: 38.91%;
  right: 38.91%;
  top: 5.98%;
  bottom: 91.16%;

  font-family: Paprika;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0px;

  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-rectanguloMostrar{
  position: absolute;
  left: 6.35%;
  right: 66.28%;
  top: 15.86%;
  bottom: 12.64%;
  
  background: #FDF7F7;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.App-rectanguloEtiqueta{
  font-family: Paprika;
  position: absolute;
  left: 41.64%;
  right: 9.09%;
  top: 15.86%;
  bottom: 68.79%;

  background: #FFFDFD;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.App-rectanguloEscribir{
  position: absolute;
  left: 41.64%;
  right: 9.09%;
  top: 31.21%;
  bottom: 12.61%;

  background: #FFFDFD;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.App-botonGuardar{
  font-family: Paprika;
  position: absolute;
  left: 62.76%;
  right: 28%;
  top: 89.86%;
  bottom: 4.44%;

  background: rgba(252, 255, 129, 0.78); 
}

.App-fecha{
  position: absolute;
  left: 42.03%;
  right: 44.57%;
  top: 24.58%;
  bottom: 71.39%;

  font-family: Paprika;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}